@font-face {
    font-family: "Inter 18pt";
    src: url("../fonts/Inter_18pt-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Bold.woff2") format("woff2");
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Light.woff2") format("woff2");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Regular.woff2") format("woff2");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: "NEXT ART";
    src: url("../fonts/NEXT-ART_Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.header {
    display: flex;
    background: url(../images/back1.webp);
    max-width: 1920px;
    width: 100%;
    min-height: 985px;
    margin: 0;
    padding: 0;
.container {
    display: flex;
    margin: 0 auto;
    padding: 16px 0 82px;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
}
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    &__burger-menu {
        display: flex;
        max-height: 44px;
        margin: 0;
    }
    &__menu-icon {
        display: flex;
    }
    &__nav {
        display: flex;
    }
    &__menu {
        display: flex;
        gap: 24px;
        margin-left: 50px;
    }
    &__menu-link--light {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 18px;
        color: #fdfdfd;
        list-style: none;
        text-decoration: none;
    }
    &__menu-link--light:hover {
        color: #F2BE22;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__menu-item {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

    }
    &__menu-link:hover  {
        color: #F2BE22;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__menu-icon {
        position: relative;
        display: none;
    }
    &__right {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__menu-link {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 18px;
        color: #fdfdfd;
        text-decoration: none;
        list-style: none;
    }
    &__btn{
        border-radius: 4px;
        padding: 12px 24px;
        max-width: 157px;
        max-height: 44px;
        background: #1a3e3e;
        // transition: all 0.3s ease;
    }
    &__btn-link {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    &__btn:hover {
        border: 1px solid #1a3e3e;
        background: #fdfdfd;
        transition: all 0.3s ease;
    }
    &__btn:hover &__btn-link {
        color: #1a3e3e;
    }
    &__burger {
        display: none;
    }
    &__burger-close {
        display: none;
    }
    &__box {
        padding: 0;
        padding-top: 423px;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        font-family: "NEXT ART";
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fdfdfd;
    }
    &__box-container {
        padding: 40px 42px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 10px;
        max-width: 1180px;
        width: 100%;
        max-height: 161px;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        margin: 0;
        gap: 16px;
    }
    &__box-select {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        max-width: 858px;
        width: 100%;
        gap: 24px;
    }
    &__box-item {
        max-width: 270px;
        width: 100%;
        min-height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
    &__select {
        border: 1px solid #e1e3e4;
        border-radius: 8px;
        padding: 14px 8px 14px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }
    &__select-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        max-width: 270px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    &__data {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        max-width: 210px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-right: 8px;
        box-sizing: border-box;
    }
    &__block {
        position: relative;
        top: 0;
        left: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        background: #ffff;
        border: 1px solid #e1e3e4;
        max-width: 270px;
        width: 100%;
        display: none;
        transition: all 0.3s ease-in-out;
    }
     &__block:active {
        position: relative;
        top: 14px;
        left: 0;
        display: block;
        cursor: pointer;
        visibility: visible;
        transform: translateY(0);
        max-width: 270px;
        width: 100%;
    }
    &__block--item {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #e1e3e4;
        background-color: #1a3e3e;
        padding: 14px 8px 14px 16px;
        box-sizing: border-box;
        margin: 0;
        max-width: 270px;
        width: 100%;
        max-height: 50px;
    }
    &__block--col {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1a3e3e;
        padding: 14px;
        box-sizing: border-box;
        margin: 0;
        border: none;
        max-width: 270px;
        width: 100%;
        max-height: 50px;
    }
    &__block--col:hover {
        color: #e1e3e4;
        background-color: #1a3e3e;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &__form-text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        padding: 8px;
        box-sizing: border-box;
        margin: 0;
    }
    &__btn-row {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #1a3e3e;
        background: #fdfdfd;
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 213px;
        width: 100%;
        min-height: 52px;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        margin: 0;
    }
    &__btn-row:hover {
        border: 1px solid #e1e3e4;
        background: #1a3e3e;
        color: #fdfdfd;
        transition: all 0.3s ease;
    }
}
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 100px;
    box-sizing: border-box;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1180px;
        width: 100%;
        max-height: 526px;
        padding: 100px 0;
        gap: 24px;
        margin: 0 auto;
    }

    &__img-block {
        position: relative;
        top: -274px;
        left: 130px;
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__circle {
        position: absolute;
        top: 43%;
        left: 43%;
        border-radius: 100px;
        max-width: 50px;
        width: 100%;
        min-height: 50px;
        background: rgba(253, 253, 253, 0.6);
        margin: 0;
        padding: 0;
    }
    &__circle:hover {
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        top: 47%;
        left: 47%;
    }
    &__icon:hover {
        cursor: pointer;
    }
    &__block {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-width: 580px;
        width: 100%;
    }
    &__subtitle {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 24px;
        line-height: 83%;
        color: #f2be22;
        margin: 0;
        padding: 0;
    }
    &__title {
        font-family: "Nunito Sans";
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        color: #18121e;
        margin: 0;
        padding: 8px 0;
        box-sizing: border-box;
    }
    &__text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #18121e;
        margin: 0;
        padding: 40px 0;
    }
    &__btn {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        background: #1a3e3e;
        border-radius: 4px;
        padding: 16px 36px;
        max-width: 150px;
        width: 100%;
        max-height: 52px;
        text-decoration: none;
        text-align: center;
    }
    &__btn:hover {
        color: #1a3e3e;
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        transition: all 0.3s ease;
    }
    &__advantages {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0;
        box-sizing: content-box;
        margin: 0;
    }
    &__wrapper {
        display: flex;
        margin: 0;
        padding: 0;
        background: #f3f5f4;
        max-width: 1920px;
        width: 100%;

        &--container {
            display: flex;
            margin: 0 auto;
            padding: 80px 0 100px;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 1180px;
            gap: 16px;
            width: 100%;
        }

         &--box {
            display: flex;
            flex-direction: column;
            max-width: 580px;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        &--subtitle {
            font-family: "Nunito Sans";
            font-weight: 400;
            font-size: 24px;
            line-height: 83%;
            color: #f2be22;
            margin: 0;
            padding: 0;
        }

        &--title {
            font-family: "Nunito Sans";
            font-weight: 800;
            font-size: 32px;
            line-height: 120%;
            color: #18121e;
            margin: 0;
            padding: 8px 0 40px;
        }

        &--text {
            font-family: "Nunito Sans";
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #18121e;
            margin: 0;
            padding: 0;
            max-width: 580px;
        }
        &--block {
            display: flex;
            align-items: center;
            gap: 16px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }
    &__title--item {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;
        letter-spacing: 0.01em;
        color: #18121e;
        margin: 0;
        padding-bottom: 4px;
        box-sizing: border-box;
    }
    &__title--text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000;
        margin: 0;
        padding: 0;
        max-width: 514px;
    }
    &__btn--link {
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 230px;
        width: 100%;
        max-height: 52px;
        background: #1a3e3e;
        font-family:"Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        text-decoration: none;
        white-space: nowrap;
    }

    &__btn--link:hover {
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
    }

    &__wrapper--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        box-sizing: border-box;
        max-width: 510px;
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;
    }
}
.section {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    &__container {
        max-width: 1180px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 80px 0 100px;
        box-sizing: border-box;
    }

    &__title-box {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__subtitle {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 24px;
        line-height: 83%;
        color: #f2be22;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-family: "Nunito Sans";
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #18121e;
        padding-top: 8px;
        box-sizing: border-box;
        margin: 0;
    }

    &__box {
        display: flex;
        margin: 0;
        padding: 50px 0;
        box-sizing: border-box;
        gap: 20px;
    }

    &__img--comtainer {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        animation-name: slide;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0.3s;
        animation-direction: alternate-reverse;
    }
    &__img--comtainer:hover {
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 3s;
        animation-direction: alternate-reverse;
    }
    
    &__icon {
        position: absolute;
        top: 50px;
        right: 0;
    }

    &__block {
        position: absolute;
        left: 0;
        bottom: 0;
        // padding: 20px 32px 23px;
        max-width: 380px;
        width: 100%;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 32px;
    }
    &__block:hover {
        min-height: 500px;
        height: 100%;
        cursor: pointer;
    }

    &__desc {
        max-width: 380px;
        width: 100%;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 32px 20px;
        box-sizing: border-box;
        margin: 0;
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 3s;
        animation-direction: alternate-reverse;
    }
    &__desc:hover {
        padding: 30px 32px 20px;
        min-height: 500px;
        height: 100%;
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 3s;
        animation-direction: alternate-reverse;
    }

    &__block-desc {
        display: flex;
        max-width: 380px;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__box-desc {
        display: flex;
        flex-direction: column;
    }
    &__block-title {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #fdfdfd;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    &__block-text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #fdfdfd;
        margin: 0;
        padding: 0;
    }

    &__price {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #fdfdfd;
        border-radius: 4px;
        padding: 8px 16px;
        max-width: 86px;
        background: rgba(255, 255, 255, 0.3);
        white-space: nowrap;
    }

    &__close {
        display: none;
    }

    &__img--comtainer:hover &__close {
        display: block;
        min-height: 100%;
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 0.3s;
        animation-direction: alternate-reverse;
    }

    &__text {
        max-width: 316px;
        width: 100%;
        font-family: "Nunito Sans";
        font-size: 16px;
        line-height: 150%;
        color: #fdfdfd;
        margin: 0;
        padding: 38px 0 105px;
    }

    &__link {
        border-radius: 4px;
        padding: 12px 24px;
        max-width: 176px;
        max-height: 44px;
        background: #1a3e3e;
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        text-decoration: none;
        margin: 0;
    }

    &__link:hover {
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
        transform: translateY(0);
    }

    &__btn {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fdfdfd;
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 244px;
        width: 100%;
        max-height: 52px;
        background: #1a3e3e;
        text-decoration: none;
    }

    &__btn:hover {
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
    }
}

.article {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    background: #f3f5f4;
    margin: 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1180px;
        padding: 80px 0 100px;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        font-family: "Nunito Sans";
        font-size: 24px;
        line-height: 83%;
        color: #f2be22;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-family: "Nunito Sans";
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #18121e;
        margin: 0;
        padding-top: 8px;
        box-sizing: border-box;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        max-width: 1180px;
        width: 100%;
        padding: 40px 0 50px;
        box-sizing: border-box;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }

    &__block {
        display: flex;
        max-width: 580px;
        width: 100%;
        min-height: 312px;
        padding: 16px;
        box-sizing: border-box;
        margin: 0;
        gap: 24px;
        background: #fdfdfd;

        img {
            max-height: 312px;
            flex-shrink: 0;
        }
    }

    &__desc {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 294px;
        width: 100%;
        min-height: 280px;
        padding: 16px 0;
        box-sizing: border-box;
        
        &--title {
            font-family: "Nunito Sans";
            font-weight: 700;
            font-size: 24px;
            line-height: 133%;
            color: #18121e;
            padding: 0;
            margin: 0;
            transition: all 0.3s ease;
        }

        &--title:hover {
            text-decoration: underline;
            color: #1a3e3e;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        &--text {
            font-family: "Nunito Sans";
            font-size: 14px;
            line-height: 143%;
            color: #18121e;
            margin: 0;
            padding: 24px 0;
            box-sizing: border-box;
            min-height: 148px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--box {
            position: absolute;
            left: 0;
            bottom: 16px;
            max-width: 294px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 24px;
            margin: 0;
            padding-top: 24px;
            box-sizing: border-box;
        }

        &--data {
            font-family: "Nunito Sans";
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #f2be22;
        }

        &--link {
            font-family: "Nunito Sans";
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #1a3e3e;
            text-decoration: none;
        }

        &--link:hover {
            text-decoration: underline;
            transition: all 0.3s ease;
        }
    }

    &__link {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 220px;
        max-height: 52px;
        background: #1a3e3e;
        text-decoration: none;
    }

    &__link:hover {
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
    }
}
.gallery {
    display: flex;
    flex-direction: column;
    padding: 80px 0 100px;
    box-sizing: border-box;
    background: #ffff;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 1180px;
        width: 100%;
        padding: 0;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__subtitle {
        font-family: "Nunito Sans";
        font-size: 24px;
        font-weight: 400;
        line-height: 83%;
        color: #f2be22;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-family:  "Nunito Sans";
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #18121e;
        border-top: 8px;
        box-sizing: border-box;
        margin: 0;
    }

    &__block  {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0 50px;
        box-sizing: border-box;
        max-width: 1180px;
        width: 100%;
        gap: 20px;
        margin: 0 auto;
    }
    picture {
        position: relative;
        cursor: pointer;
        display: flex;
        transition: all 0.3s ease;
    }

    picture:hover &__box {
        display: block;
        transition: all 0.3s ease;
    }

    &__box {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 580px;
        width: 100%;
        min-height: 250px;
        backdrop-filter: blur(0);
        background: rgba(99, 98, 98, 0.5);
        display: none;
    }

    &__box:hover {
        display: block;
        transition: all 0.3s ease;
    }

     &__img-zoom{
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__zoom {
        position: absolute;
        top: 46%;
        left: 46%;
        display: none;
    }

    picture:hover &__zoom {
        display: block;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s ease;
    }
    
    &__btn {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        background: #1a3e3e;
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 178px;
        width: 100%;
        max-height: 52px;
        text-decoration: none;
    }

    &__btn:hover {
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
    }
}
.footer {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1a3e3e;
    margin: 0;
    padding: 0 0;
    position: relative;
    top: 0;
    left: 0;

    &__box {
        position: relative;
        top: -98px;
        left: 0;
        max-width: 1180px;
        width: 100%;
        max-height: 196px;
        padding: 40px 100px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fdfdfd;
        box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
        border-radius: 6px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    &__title-box {
        max-width: 380px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    &__subtitle {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
        color: #f2be22;
        padding: 0;
        margin: 0;
    }
    &__title {
        font-family: "Nunito Sans";
        font-weight: 800;
        font-size: 26px;
        line-height: 120%;
        color: #18121e;
        padding-top: 8px;
        margin: 0;
        box-sizing: border-box;
    }
    &__news {
        max-width: 536px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    &__news-title {
        font-family:"Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: #18121e;
        padding-bottom: 8px;
        box-sizing: border-box;
        margin: 0;
    }
    &__btn {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        border-radius: 4px;
        padding: 12px 24px;
        box-sizing: border-box;
        max-width: 240px;
        width: 100%;
        min-height: 44px;
        background: #1a3e3e;
        border: none;
        margin: 0;
        margin-left: 8px;
    }
    &__btn:hover{
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        color: #1a3e3e;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &__text {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        color: #18121e;
    }
    &__bold {
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
    &__container {
        max-width: 1180px;
        width: 100%;
        padding: 0 0 80px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
    }
    &__block-one {
        max-width: 480px;
        width: 100%;
    } 
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 280px;
        width: 100%;
        padding: 0;
        margin: 0;

        &--title {
            font-family: "Nunito Sans";
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #f3f5f4;
            margin: 0;
            padding: 0;
        }

        &--text {
            font-family: "Nunito Sans";
            padding: 17px 24px 0px 0px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #fff;
            margin: 0;
        }
    } 
    &__link {
        display: flex;
        gap: 24px;
        padding-top: 80px;
        padding-bottom: 32px;
        box-sizing: border-box;
    }
    &__email {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
    }
    &__phone {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
    }
    &__icons {
        display: flex;
        gap: 16px;
    }
    &__services {
        max-width: 280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 0;
        box-sizing: border-box;
        margin: 0;
    }
    &__one {
        margin-left: 120px;
        box-sizing: border-box;
        max-width: 280px;
        width: 100%;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 8px;
        margin: 0;
        padding: 0;

        &--icon {
            position: relative;
            top: 0;
            left: 0;
        }

        &--link {
            font-family: "Nunito Sans";
            font-size: 14px;
            line-height: 129%;
            color: #fdfdfd;
            text-decoration: none;
        }
        &--link:hover {
            transition: all 0.3s ease;
            cursor: pointer;
        }
    }
    &__list:hover &__list--link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #f2be22;
        transition: all 0.3s;
    }
    &__right {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
   &__list:hover &__list--icon &__right {
        display: block;
   }
    &__new {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 12px;
        line-height: 133%;
        text-transform: lowercase;
        text-align: center;
        color: #1a3e3e;
        border-radius: 4px;
        padding: 2px 10px;
        box-sizing: border-box;
        max-width: 44px;
        width: 100%;
        max-height: 20px;
        background: #fff;
        text-decoration: none;
        margin-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__end {
        max-width: 1920px;
        width: 100%;
        min-height: 66px;
        display: flex;
        flex-wrap: wrap;
        background: #18121e;

        &--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1180px;
            width: 100%;
            margin: 0 auto;
            padding: 24px 0;
            box-sizing: border-box;
        }

        &--name {
            font-family: "Nunito Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 129%;
            color: #fff;
        }

        &--policy {
            font-family: "Nunito Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 129%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #fff;
        }
    }
    .get-email {
        font-family: "Nunito Sans";
        font-weight: 300;
        font-size: 14px;
        line-height: 143%;
        color: #18121e;
        border-radius: 4px;
        padding: 12px 16px;
        box-sizing: border-box;
        max-width: 280px;
        width: 100%;
        min-height: 44px;
        background: #f3f5f4;
        text-decoration: none;
        border: none;
        margin: 0;
    }
}

@media (max-width:768px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        max-width: 100%;
        padding: 30px;
        box-sizing: border-box;
        margin: 0 auto;
        max-height: 600px;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        &__container {
            max-width: 100%;
            max-height: 300px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__burger-menu {
            position: relative;
            padding: 0;
            margin: 0;
        }
        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            background-color: #1a3e3e;
            width: 100vw;
            height: 100vh;
            margin: 0;
            visibility: hidden;
            transition: all  0.3s ease 0s;
        }
        &__nav.active {
            right: 0;
            visibility: visible;
            transform: translateY(0);
            transform: translateY(-10px);
            transition: all 0.3s ease;
        }
        &__menu {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 30px 0;
            box-sizing: border-box;
        }
        &__menu-icon {
            display: block;
        }
        &__burger-close {
            max-width: 25px;
            max-height: 25px;
            position: absolute;
            top: 30px;
            right: 30px;
            display: block;
            z-index: 1;
        }
        &__btn {
            display: none;
        }
        &__burger {
            display: block;
            max-width: 40px;
            min-height: 40px;
            transition: all 0.3s ease-in-out;
        }
        &__right {
            display: none;
        }
        &__menu-item:hover &__right {
            display: block;
        }
        &__menu-link--light {
            font-size: 20px;
            font-weight: 400;
        }
         &__menu-item:hover &__menu-link--light {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #f2be22;
            transition: all 0.3s;
        }
         &__menu-link {
            font-size: 20px;
            font-weight: 400;
        }
        &__menu-item:hover &__menu-link {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #f2be22;
            transition: all 0.3s;
        }
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 334px 0 0;
            box-sizing: border-box;
        }
        &__title {
            font-size: 48px;
        }
        &__box-container {
            background: none;
            max-height: 52px;
            margin: 0;
            padding: 0;
        }
        &__box-select {
            display: none;
        }
        &__btn-row {
            display: block;
        }
    }

    .main__container {
        display: flex;
        flex-direction: column;

        &__block {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .main__wrapper--container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .main__wrapper--grid {
        display: none;

        &--box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }
    .footer {
        &__box {
        display: flex;
        flex-direction: column;
        }
        &__title {
            white-space: nowrap;
        }

        &__one {
            display: none;
        }
    }
}

