@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter_18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXT-ART_Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  margin: 0;
  padding: 0;
  background: url(../images/back1.webp);
  max-width: 1920px;
  width: 100%;
  min-height: 985px;
}
.header .container {
  display: flex;
  margin: 0 auto;
  padding: 16px 0 82px;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;
}
.header__container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
}
.header__menu {
  display: flex;
  gap: 24px;
  margin-left: 50px;
}
.header__menu-item--light {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  color: #fdfdfd;
  list-style: none;
}
.header__menu-item--light:hover {
  color: #F2BE22;
  cursor: pointer;
}
.header__menu-item {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 18px;
  color: #fdfdfd;
  list-style: none;
}
.header__menu-item:hover {
  color: #F2BE22;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__btn {
  border-radius: 4px;
  padding: 12px 24px;
  max-width: 157px;
  max-height: 44px;
  background: #1a3e3e;
}
.header__btn-link {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  text-decoration: none;
}
.header__btn:hover {
  border: 1px solid #1a3e3e;
  background: #fdfdfd;
  transition: all 0.3s ease;
}
.header__btn:hover .header__btn-link {
  color: #1a3e3e;
}
.header__box {
  padding-top: 423px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__title {
  font-family: "NEXT ART";
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fdfdfd;
}
.header__box-container {
  padding: 40px 42px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  max-width: 1180px;
  width: 100%;
  max-height: 161px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  gap: 24px;
}
.header__box-item {
  max-width: 270px;
  width: 100%;
  min-height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.header__select {
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 14px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header__select-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 270px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.header__data {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fdfdfd;
  max-width: 210px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  box-sizing: border-box;
}
.header__block {
  position: relative;
  top: 0;
  left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #e1e3e4;
  max-width: 270px;
  width: 100%;
  display: none;
  transition: all 0.3s ease-in-out;
}
.header__select:active .header__block {
  position: relative;
  top: 14px;
  left: 0;
  display: block;
  cursor: pointer;
  visibility: visible;
  transform: translateY(0);
  max-width: 270px;
  width: 100%;
}
.header__block--item {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e1e3e4;
  background-color: #1a3e3e;
  padding: 14px;
  box-sizing: border-box;
  margin: 0;
  max-width: 270px;
  width: 100%;
  max-height: 50px;
}
.header__block--col {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1a3e3e;
  padding: 14px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  max-width: 270px;
  width: 100%;
  max-height: 50px;
}
.header__block--col:hover {
  color: #e1e3e4;
  background-color: #1a3e3e;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header__form-text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fdfdfd;
  padding: 8px;
  box-sizing: border-box;
  margin: 0;
}
.header__btn-row {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1a3e3e;
  background: #fdfdfd;
  border-radius: 4px;
  padding: 16px 36px;
  box-sizing: border-box;
  max-width: 213px;
  width: 100%;
  min-height: 52px;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}
.header__btn-row:hover {
  border: 1px solid #e1e3e4;
  background: #1a3e3e;
  color: #fdfdfd;
  transition: all 0.3s ease;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}
.main__container {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  max-height: 526px;
  padding: 100px 0;
  gap: 24px;
  margin: 0 auto;
}
.main__img-block {
  position: relative;
  top: -274px;
  left: 130px;
  margin: 0;
  padding: 0;
}
.main__circle {
  position: absolute;
  top: 43%;
  left: 43%;
  border-radius: 100px;
  max-width: 50px;
  width: 100%;
  min-height: 50px;
  background: rgba(253, 253, 253, 0.6);
  margin: 0;
  padding: 0;
}
.main__icon {
  position: absolute;
  top: 47%;
  left: 47%;
}
.main__block {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 580px;
  width: 100%;
}
.main__subtitle {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 83%;
  color: #f2be22;
  margin: 0;
  padding: 0;
}
.main__title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #18121e;
  margin: 0;
  padding: 8px 0;
  box-sizing: border-box;
}
.main__text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
  margin: 0;
  padding: 40px 0;
}
.main__btn {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  background: #1a3e3e;
  border-radius: 4px;
  padding: 16px 36px;
  max-width: 150px;
  width: 100%;
  max-height: 52px;
  text-decoration: none;
  text-align: center;
}
.main__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
  transition: all 0.3s ease;
}
.main__advantages {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  box-sizing: content-box;
  margin: 0;
}
.main__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  background: #f3f5f4;
  max-width: 1920px;
  width: 100%;
}
.main__wrapper--container {
  display: flex;
  margin: 0 auto;
  padding: 80px 0 100px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1180px;
  gap: 16px;
  width: 100%;
}
.main__wrapper--box {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main__wrapper--subtitle {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 83%;
  color: #f2be22;
  margin: 0;
  padding: 0;
}
.main__wrapper--title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #18121e;
  margin: 0;
  padding: 8px 0 40px;
}
.main__wrapper--text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
  margin: 0;
  padding: 0;
  max-width: 580px;
}
.main__wrapper--block {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__title--item {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.01em;
  color: #18121e;
  margin: 0;
  padding-bottom: 4px;
  box-sizing: border-box;
}
.main__title--text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #000;
  margin: 0;
  padding: 0;
  max-width: 514px;
}
.main__btn--link {
  border-radius: 4px;
  padding: 16px 36px;
  box-sizing: border-box;
  max-width: 230px;
  width: 100%;
  max-height: 52px;
  background: #1a3e3e;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  text-decoration: none;
  white-space: nowrap;
}
.main__btn--link:hover {
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
  color: #1a3e3e;
  transition: all 0.3s ease;
}
.main__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  max-width: 510px;
  width: 100%;
  padding-top: 40px;
  box-sizing: border-box;
}

.section {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.section__container {
  max-width: 1180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0 100px;
  box-sizing: border-box;
}
.section__title-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__subtitle {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 83%;
  color: #f2be22;
  margin: 0;
  padding: 0;
}
.section__title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #18121e;
  padding-top: 8px;
  box-sizing: border-box;
  margin: 0;
}
.section__box {
  display: flex;
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
  gap: 20px;
}
.section__img--comtainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}
.section__icon {
  position: absolute;
  top: 50px;
  right: 0;
}
.section__block {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 380px;
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}
.section__block:hover {
  min-height: 500px;
  height: 100%;
  cursor: pointer;
  transition: 5s ease-in;
}
.section__desc {
  max-width: 380px;
  width: 100%;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 32px 20px;
  box-sizing: border-box;
  margin: 0;
}
.section__desc:hover {
  padding: 30px 32px 20px;
  min-height: 500px;
  height: 100%;
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}
.section__block-desc {
  display: flex;
  max-width: 380px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.section__box-desc {
  display: flex;
  flex-direction: column;
}
.section__block-title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #fdfdfd;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.section__block-text {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fdfdfd;
  margin: 0;
  padding: 0;
}
.section__price {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fdfdfd;
  border-radius: 4px;
  padding: 8px 16px;
  max-width: 86px;
  background: rgba(255, 255, 255, 0.3);
  white-space: nowrap;
}
.section__close {
  display: none;
}
.section__img--comtainer:hover .section__close {
  display: block;
  min-height: 100%;
  transition: 5s ease-in-out;
}
.section__text {
  max-width: 316px;
  width: 100%;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  margin: 0;
  padding: 38px 0 105px;
}
.section__link {
  border-radius: 4px;
  padding: 12px 24px;
  max-width: 176px;
  max-height: 44px;
  background: #1a3e3e;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  text-decoration: none;
  margin: 0;
}
.section__link:hover {
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
  color: #1a3e3e;
  transition: all 0.3s ease;
  transform: translateY(0);
}
.section__btn {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fdfdfd;
  border-radius: 4px;
  padding: 16px 36px;
  box-sizing: border-box;
  max-width: 244px;
  width: 100%;
  max-height: 52px;
  background: #1a3e3e;
  text-decoration: none;
}
.section__btn:hover {
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
  color: #1a3e3e;
  transition: all 0.3s ease;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  background: #f3f5f4;
  margin: 0;
}
.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1180px;
  padding: 80px 0 100px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
.article__title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__subtitle {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 83%;
  color: #f2be22;
  margin: 0;
  padding: 0;
}
.article__title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #18121e;
  margin: 0;
  padding-top: 8px;
  box-sizing: border-box;
}
.article__main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  width: 100%;
  padding: 40px 0 50px;
  box-sizing: border-box;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.article__block {
  display: flex;
  max-width: 580px;
  width: 100%;
  max-height: 312px;
  padding: 16px;
  box-sizing: border-box;
  margin: 0;
  gap: 24px;
}
.article__desc {
  max-width: 298px;
  width: 100%;
  padding: 16px 0;
}
.article__desc--title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #18121e;
  padding-bottom: 24px;
  box-sizing: border-box;
  margin: 0;
}
.article__desc--title:hover {
  text-decoration: underline;
  color: #1a3e3e;
  cursor: pointer;
}
.article__desc--text {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 143%;
  color: #18121e;
  margin: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  min-height: 148px;
}
.article__desc--litle {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 143%;
  color: #18121e;
  margin: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  min-height: 114px;
}
.article__desc--box {
  display: flex;
  justify-content: space-between;
}
.article__desc--data {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #f2be22;
}
.article__desc--link {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #1a3e3e;
  text-decoration: none;
}
.article__desc--link:hover {
  text-decoration: underline;
}
.article__link {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fdfdfd;
  border-radius: 4px;
  padding: 16px 36px;
  box-sizing: border-box;
  max-width: 220px;
  max-height: 52px;
  background: #1a3e3e;
  text-decoration: none;
}
.article__link:hover {
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
  color: #1a3e3e;
  transition: all 0.3s ease;
}