@font-face {
    font-family: "Inter 18pt";
    src: url("../fonts/Inter_18pt-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Bold.woff2") format("woff2");
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Light.woff2") format("woff2");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-Regular.woff2") format("woff2");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Nunito Sans";
//     src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: "NEXT ART";
    src: url("../fonts/NEXT-ART_Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.header {
    display: flex;
    margin: 0;
    padding: 0;
    background: url(../images/back1.webp);
    max-width: 1920px;
    width: 100%;
    min-height: 985px;
.container {
    display: flex;
    margin: 0 auto;
    padding: 16px 0 82px;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
}
    &__container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__nav {
        display: flex;
    }
    &__menu {
        display: flex;
        gap: 24px;
        margin-left: 50px;
    }
    &__menu-item--light {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 18px;
        color: #fdfdfd;
        list-style: none;
    }
    &__menu-item--light:hover {
        color: #F2BE22;
        cursor: pointer;
    }
    &__menu-item {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 18px;
        color: #fdfdfd;
        list-style: none;
    }
    &__menu-item:hover  {
        color: #F2BE22;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__btn{
        border-radius: 4px;
        padding: 12px 24px;
        max-width: 157px;
        max-height: 44px;
        background: #1a3e3e;
    }
    &__btn-link {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        text-decoration: none;
    }
    &__btn:hover {
        border: 1px solid #1a3e3e;
        background: #fdfdfd;
        transition: all 0.3s ease;
    }
    &__btn:hover &__btn-link {
        color: #1a3e3e;
    }
    &__box {
        padding-top: 423px;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        font-family: "NEXT ART";
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fdfdfd;
    }
    &__box-container {
        padding: 40px 42px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 10px;
        max-width: 1180px;
        width: 100%;
        max-height: 161px;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        gap: 24px;
    }
    &__box-item {
        max-width: 270px;
        width: 100%;
        min-height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }
    &__select {
        border: 1px solid #e1e3e4;
        border-radius: 8px;
        padding: 14px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__select-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        max-width: 270px;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    &__data {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        max-width: 210px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-right: 8px;
        box-sizing: border-box;
    }
    &__block {
        position: relative;
        top: 0;
        left: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        background: #ffff;
        border: 1px solid #e1e3e4;
        max-width: 270px;
        width: 100%;
        display: none;
        transition: all 0.3s ease-in-out;
    }
    &__select:active &__block {
        position: relative;
        top: 14px;
        left: 0;
        display: block;
        cursor: pointer;
        visibility: visible;
        transform: translateY(0);
        max-width: 270px;
        width: 100%;
    }
    &__block--item {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #e1e3e4;
        background-color: #1a3e3e;
        padding: 14px;
        box-sizing: border-box;
        margin: 0;
        max-width: 270px;
        width: 100%;
        max-height: 50px;
    }
    &__block--col {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #1a3e3e;
        padding: 14px;
        box-sizing: border-box;
        margin: 0;
        border: none;
        max-width: 270px;
        width: 100%;
        max-height: 50px;
    }
    &__block--col:hover {
        color: #e1e3e4;
        background-color: #1a3e3e;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &__form-text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        padding: 8px;
        box-sizing: border-box;
        margin: 0;
    }
    &__btn-row {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #1a3e3e;
        background: #fdfdfd;
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 213px;
        width: 100%;
        min-height: 52px;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
    }
    &__btn-row:hover {
        border: 1px solid #e1e3e4;
        background: #1a3e3e;
        color: #fdfdfd;
        transition: all 0.3s ease;
    }
}
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1180px;
        width: 100%;
        max-height: 526px;
        padding: 100px 0;
        gap: 24px;
        margin: 0 auto;
    }
    &__img-block {
        position: relative;
        top: -274px;
        left: 130px;
        margin: 0;
        padding: 0;
    }
    &__circle {
        position: absolute;
        top: 43%;
        left: 43%;
        border-radius: 100px;
        max-width: 50px;
        width: 100%;
        min-height: 50px;
        background: rgba(253, 253, 253, 0.6);
        margin: 0;
        padding: 0;
    }
    &__icon {
        position: absolute;
        top: 47%;
        left: 47%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-width: 580px;
        width: 100%;
    }
    &__subtitle {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 24px;
        line-height: 83%;
        color: #f2be22;
        margin: 0;
        padding: 0;
    }
    &__title {
        font-family: "Nunito Sans";
        font-weight: 800;
        font-size: 32px;
        line-height: 120%;
        color: #18121e;
        margin: 0;
        padding: 8px 0;
        box-sizing: border-box;
    }
    &__text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #18121e;
        margin: 0;
        padding: 40px 0;
    }
    &__btn {
        font-family: "Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        background: #1a3e3e;
        border-radius: 4px;
        padding: 16px 36px;
        max-width: 150px;
        width: 100%;
        max-height: 52px;
        text-decoration: none;
        text-align: center;
    }
    &__btn:hover {
        color: #1a3e3e;
        background: #fdfdfd;
        border: 1px solid #1a3e3e;
        transition: all 0.3s ease;
    }
    &__advantages {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0;
        box-sizing: content-box;
        margin: 0;
    }
    &__wrapper {
        display: flex;
        margin: 0;
        padding: 0;
        background: #f3f5f4;
        max-width: 1920px;
        width: 100%;

        &--container {
            display: flex;
            margin: 0 auto;
            padding: 80px 0 100px;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 1180px;
            gap: 16px;
            width: 100%;
        }

         &--box {
            display: flex;
            flex-direction: column;
            max-width: 580px;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        &--subtitle {
            font-family: "Nunito Sans";
            font-weight: 400;
            font-size: 24px;
            line-height: 83%;
            color: #f2be22;
            margin: 0;
            padding: 0;
        }

        &--title {
            font-family: "Nunito Sans";
            font-weight: 800;
            font-size: 32px;
            line-height: 120%;
            color: #18121e;
            margin: 0;
            padding: 8px 0 40px;
        }

        &--text {
            font-family: "Nunito Sans";
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #18121e;
            margin: 0;
            padding: 0;
            max-width: 580px;
        }
        &--block {
            display: flex;
            align-items: center;
            gap: 16px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }
    &__title--item {
        font-family: "Nunito Sans";
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;
        letter-spacing: 0.01em;
        color: #18121e;
        margin: 0;
        padding-bottom: 4px;
        box-sizing: border-box;
    }
    &__title--text {
        font-family: "Nunito Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000;
        margin: 0;
        padding: 0;
        max-width: 514px;
    }
    &__btn--link {
        border-radius: 4px;
        padding: 16px 36px;
        box-sizing: border-box;
        max-width: 230px;
        width: 100%;
        max-height: 52px;
        background: #1a3e3e;
        font-family:"Nunito Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #fdfdfd;
        text-decoration: none;
        white-space: nowrap;
    }
    &__wrapper--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        box-sizing: border-box;
        max-width: 510px;
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;
    }

}